.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  flex-shrink: 0;
}

.logo {
  height: 1.5em;
  animation: logo-spin infinite 20s linear;
  margin-right: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  height: 100vh;
}

.content {
  padding: 20px 16px;
}

.sider {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.form {
  flex: 1;
  overflow: auto;
  padding: 8px;
}

.fork {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.formCard {
  margin-bottom: 10px;
}
